<div class="stepper-container">
  <div class="stepper-line"></div>
  
  <div 
    *ngFor="let item of stepperItems; let i = index" 
    [class]="getStepClass(item)"
    (click)="scrollToSection(item.id)"
    class="stepper-item"
  >
    <div class="stepper-icon">
      <span class="icon-text">{{ item.icon }}</span>
      <div class="step-indicator"></div>
    </div>
    
    <div class="stepper-content">
      <span class="step-label">{{ item.label }}</span>
      <div class="step-line" *ngIf="i < stepperItems.length - 1"></div>
    </div>
  </div>
</div>
