<section
  id="work-experience"
  class="relative flex h-screen flex-col items-center justify-center"
>
  <h2 class="text-4xl font-bold">Work Experience</h2>

  <div
    class="relative flex w-full max-w-6xl flex-col items-center before:absolute before:top-0 before:bottom-0 before:left-1/2 before:left-8 before:-z-10 before:w-0.5 before:-translate-x-1/2 before:bg-gradient-to-b before:from-blue-600/60 before:via-blue-600/80 before:to-blue-600/60 before:content-[''] md:before:left-1/2"
  >
    @for (
      experience of workExperiences;
      track experience.title;
      let i = $index
    ) {
      <app-work-experience-card
        [experience]="experience"
        [class]="i % 2 === 0 ? 'self-end' : 'self-start'"
        [year]="getYearFromPeriod(experience.period)"
      ></app-work-experience-card>
    }
  </div>
</section>
