<section
  id="work-experience"
  class="flex h-dvh flex-col items-center justify-center"
>
  <h2 class="mb-16 text-center text-4xl font-bold text-midnight-blue-950">
    Work Experience
  </h2>

  <div
    class="relative flex w-full max-w-6xl flex-col items-center md:before:absolute md:before:top-0 md:before:bottom-0 md:before:left-1/2 md:before:-z-10 md:before:w-0.5 md:before:-translate-x-1/2 md:before:bg-gradient-to-b md:before:from-blue-600/60 md:before:via-blue-600/80 md:before:to-blue-600/60 md:before:content-['']"
  >
    @for (
      experience of workExperiences;
      track experience.title;
      let i = $index
    ) {
      <app-work-experience-card
        [experience]="experience"
        [class]="i % 2 === 0 ? 'self-end' : 'self-start'"
        [year]="getYearFromPeriod(experience.period)"
      ></app-work-experience-card>
    }
  </div>
</section>
